<div ng-app="test" ng-controller="baseCtrl">
  <h1>hi it's a test</h1>
  <p><%= user.name %></p>
  <ul>
    <!--<li ng-repeat="thing in things">-->
      <!--{{thing.text}}-->
    <!--</li>-->
    <% _.each(things, function(thing){ %>
    <li><%= thing.text %></li>
    <% }) %>
  </ul>
</div>

<script>


</script>
